@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

 .navbar-nav .nav-link{
     color: #20212e;
     margin:10px;
     font-size: 20px;
 }

body{
    font-family: 'Lora', serif;
}
.bg_color{
    background-color:#FFFBF0;
}

.header_part{
    margin-left: 0;
}
.headline_first{
    color:rgb(134, 185, 58);
    font-weight:700;
    text-transform: uppercase;
    font-size:50px;
}

.headline_second{
    color:#363958;
    font-weight:700;
    text-transform: uppercase;
    font-size:50px;
    line-height:2rem;
}

.header_part p{
    color:grey;
    font-size: 18px;
    margin:25px 0;
    
    

}

.buy_button{

    background-color:#fa7339;
    border-radius: 10px;
    height:60px;
    width:180px;
    text-align:center;
    border-style: none;
    padding:5px;
    margin-left: 5px;
}

.buy_button:hover{
    background-color:#363958;
    color: white;
}

.buy_button img{

    width:30px;
}


.item_card{
    border: 0;
}
.item_footer_card{

    background-color:white;
    border: 0;
}

.product_head{
    color:#363958;
    font-size:36px;
    font-weight:700;
    text-transform: uppercase;
}

.card-title{
    color:#363958;
    font-size: 30px;

}

.card_img{
    width:80%;
    height:60%;
    background-color:#F1F1F1;
   margin-left:35px;
    position:center;
}

.card-footer h5{
   margin-top: 10px;
    font-size: 30px;
    margin-right:10px;
    font-weight:700;
    color:rgb(13, 172, 13);
}

.card-text{
    color: rgb(78, 77, 77);
}






footer{
    background-color:rgb(54, 41, 41);
    height:500px;
    margin-bottom: 0;
    
}


.footer_content h2{
    font-size:2rem;
    text-transform:uppercase;
    font-weight:600;
    color:rgb(228, 36, 2);
}


.footer_content{
    display:flex;
    margin-right: 20px;
}

.footer_content .left_box{
    flex-basis:50%;
    padding:15px 15px;

}


.content_left p{
    font-size:18px;
    color: silver;

    
}

.address_box{
    font-size: 20px;
    color:rgb(134, 133, 133);
    padding:15px 15px;

}
.center_box{
    padding-top:7px;
    margin-left: 5px;
}

.address_box span{
    color:silver;
    padding-right:20px;
    letter-spacing: 2px;
    font-weight: 600;
}

.right_box{
    padding:15px 15px;
}


.left_box,.content,.social a{
    padding:0 2px;
}

.social,a span{
    display:flex;
    height: 40px;
    width: 40px;
    color:rgb(248, 165, 9);
    line-height:40px;
    text-align: center;
    font-size: 20px;
    
}

.social a:hover{
    background-color:#363958;
}
.text{
    color:silver;
    font-size:20px;
}

.button{

    background-color :rgb(247, 44, 8);
    border-radius: 5px;
    width:100px;
    height:30px;
    border-style: none;

}


.copyright_area{
    text-align: center;
    font-size: 14px;
    line-height: 10px;
    color:silver;
    
}