@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,600&display=swap');

body{
    font-family: 'Lora', serif;
}
.bg_color{
    background-color:#FFFBF0;
}








footer{
    background-color:rgb(63, 47, 47);
    height:500px;
    margin-bottom: 0;
    
}


.footer_content h2{
    font-size:2rem;
    text-transform:uppercase;
    font-weight:600;
    color:rgb(228, 36, 2);
}


.footer_content{
    display:flex;
    margin-right: 20px;
}

.footer_content .left_box{
    flex-basis:50%;
    padding:15px 15px;

}


.content_left p{
    font-size:18px;
    color: silver;

    
}

.address_box{
    font-size: 20px;
    color:rgb(134, 133, 133);
    padding:15px 15px;

}
.center_box{
    padding-top:7px;
    margin-left: 5px;
}

.address_box span{
    color:silver;
    padding-right:20px;
    letter-spacing: 2px;
    font-weight: 600;
}

.right_box{
    padding:15px 15px;
}


.left_box,.content,.social a{
    padding:0 2px;
}

.social,a span{
    display:flex;
    height: 40px;
    width: 40px;
    color:rgb(248, 165, 9);
    line-height:40px;
    text-align: center;
    font-size: 20px;
    
}

.text{
    color:silver;
    font-size:20px;
}

.button{

    background-color :rgb(247, 44, 8);
    border-radius: 5px;
    width:100px;
    height:30px;
    border-style: none;

}


.copyright_area{
    text-align: center;
    font-size: 14px;
    line-height: 10px;
    color:silver;
    
}